.container {
  background:
    linear-gradient(
      to bottom,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0.829) 20%,
      rgba(33, 37, 41, 0) 50%,
      rgba(0, 0, 0, 0.185) 80%,
      rgba(19, 20, 29, 0.884) 100%
    ),
    url("../../assets/image.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 60px 20px;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
  background-color: #ffffff;
}

.subContainer {
  max-width: 1720px;
  margin: auto;
  padding-inline: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
}

.mainTitle {
  margin: 0;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.scrollContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 24px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px) scale(1.01);
}

.largeCard {
  width: 550px;
  height: 350px;
}

.smallCard {
  width: 350px;
  height: 350px;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  z-index: 1;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.navBtn {
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: #ffffff6b;
  border: 0;
  color: black;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.navBtn:hover {
  transform: translateY(-50%) scale(1.1);
}

.prev {
  left: -25px;
}
.next {
  right: -25px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dot:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.active {
  background-color: #212529;
  width: 35px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 30px 10px;
  }

  .largeCard,
  .smallCard {
    width: 80vw;
    height: 300px;
  }

  .navBtn {
    display: none;
  }

  .mainTitle {
    font-size: 1.6rem;
  }
}
