.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; 
  width: 100%;
  margin-top: 10rem;
}

.olympicRings {
  position: relative;
  width: 18rem; 
  height: 12rem;
}

.ring {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 0.5rem solid;
  border-radius: 50%;
  background: transparent;
  animation: olympicPulse 2s ease-in-out infinite;
}

.blue {
  border-color: #0081C8;
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.black {
  border-color: #000000;
  top: 0;
  left: 6rem; 
  animation-delay: 0.2s;
}

.red {
  border-color: #EE334E;
  top: 0;
  left: 12rem;
  animation-delay: 0.4s;
}

.yellow {
  border-color: #FCB131;
  top: 3.2rem;
  left: 3rem; 
  animation-delay: 0.1s;
}

.green {
  border-color: #00A651;
  top: 3.2rem;
  left: 9rem;
  animation-delay: 0.3s;
}

@keyframes olympicPulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.4;
    filter: blur(0px);
  }
  50% {
    transform: scale(1.08); 
    opacity: 1;
    filter: drop-shadow(0 0 8px rgba(135, 135, 135, 0.323));
  }
}

@media (max-width: 480px) {
  .olympicRings {
    transform: scale(0.7);
  }
}