.heroContainer {
  position: relative;
  height: 55vh;
  width: 100%;

  display: flex;
  align-items: top;
  justify-content: flex-start;

  color: white;

  background-image: url('../../assets/hero-bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  padding-top: 5rem;
}

.heroContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(255, 255, 255, 0.8) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.heroContent {
  position: relative;
  z-index: 2;
}

.heroContent h1 {
  letter-spacing: 5px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.782);
}

@media (max-width: 991.98px) {
  .customText {
    font-size: 1.4rem !important;
  }
}