.scrollingTextContainer {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: white;
  padding: 10px 0;
}

.scrollingText {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-loop 50s linear infinite;
  letter-spacing: 0.1em;
}

.scrollingText span {
  display: inline-block;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-23%);
  }
}